build/*
dist/*
otpod.egg-info/*
.directory
*.pyc
*.cache
*.csv
doc/source/examples/.ipynb_checkpoints/*
doc/source/_generated/*
doc/source/examples/*.rst
doc/source/examples/*files/*
doc/source/examples/figure/*
