language: generic

services:
  - xvfb

addons:
  apt:
    packages:
      - texlive-latex-recommended
      - texlive-fonts-recommended
      - texlive-latex-extra

install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
  - bash Miniconda3-latest-Linux-x86_64.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda config --add channels conda-forge
  - conda config --set channel_priority strict
  - conda update -q conda
  - conda install -y openturns jupyter matplotlib scikit-learn statsmodels decorator pytest numpydoc sphinx nbsphinx jupyter_client ipython pandoc

script:
  - python setup.py install
  - pytest test/
  - travis_wait 30 pytest test/test_notebook.py --notebook
  - make html BUILDDIR=~/.local/share/otpod/doc -C doc

after_success:
  - test "$TRAVIS_PULL_REQUEST" = "false" -a "$TRAVIS_BRANCH" = "master" || exit 0
  - git clone https://${GH_TOKEN}@github.com/openturns/openturns.github.io.git
  - REPO_NAME=`echo "${TRAVIS_REPO_SLUG}" | cut -d "/" -f 2`
  - mkdir -p openturns.github.io/${REPO_NAME}/${TRAVIS_BRANCH}
  - cp -r ~/.local/share/${REPO_NAME}/doc/html/* openturns.github.io/${REPO_NAME}/${TRAVIS_BRANCH}
  - cd openturns.github.io
  - touch .nojekyll
  - git config user.email "support@travis-ci.com"
  - git config user.name "Travis CI"
  - git add -A .
  - git commit -a -m "Travis build ${REPO_NAME} ${TRAVIS_BUILD_NUMBER}"
  - git push --quiet origin master > /dev/null 2>&1

env:
  global:
    secure: "gTUouCcIppkjWrj6AjgzNP7Iwuz2YpL7wLCNXfjpdNmEv5GL24fk7ZQ5NE4YMkq5nHPgThac8J/LsXtX3K8EXJ5jOVdgNVLw3mPLapNWJoJkYSelAGBtrCBzFfCuONSH8EBOISBrGIS3Z8qP9UWBtkgjSUc6xsBbYL63Xw8KCrOqZNaKjjKQuriseFbufOQFo6rBIyXkbW9HtsA6B7u3Qp5JdYT3zaY6ibt9n2ZNSS6nJ2+403O93qfk2Z1v34bYBRP79lDW50y4V0wVjHqjB/TAHiN0iahKWSLC9ACo/LaFOMPpb3HJTDcx6Or9Dj3mzpwQxQoIEvsMeAJ7ORVTv7qNk2KXIQDXTRNPBRYyvQ4iag+5D7j8LTutsju0+konx2gNDYjZLfBmBeFpmwyUR4xT1H/up8fAa9eqV3pMzG7mG3ndhj44k1TUNQBI87FyLhc+3KOc1axhU3i41yjVOsAZL5PbNa2tWhVFKYuZOzz/3VPzfeZit5bEPEh4nxAVdtivbZ4ic/6l+TLqEPmsnNmYzpFix8mdpQGo+jTvNsvyUb3Int9fz7aRhfKaOFFavl1+iTVGM/UAoQikRUF+Ikvn88/+2p4zmpLeL/6XjFmv3YJ/qUzC55N1Tq0XPkeyqoeYiwb3t4OVyCjCZ/7pTGWbiJzDMarIsDCFXpUr3Jg="
